.navbar{
    background-color: rgb(39, 37, 37);
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 0.9rem;
    margin-bottom: 1.5em;
}

.navbar :last-child{
    margin-left: auto;
    margin-right: 0.5em;
    display: grid;
    place-items: center;
}

img{
    width: 100%;
}

a{
    color: white;
    font-weight: 600;
    padding: 0.25em 0.5em;
    text-decoration: none;
}

a{
    margin-left: 0.5em;
}

a:hover,
a:focus{
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(1em);
}

.active{
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(1em);
}