<div class="contact-info">
    <div class="info">
        <h2 *ngIf="parentData.name">{{parentData.name}}</h2>
        <div class="info-field" *ngIf="parentData.email">
            <label>Email: </label>
            <p>{{parentData.email}}</p>
        </div>
        <div class="info-field">
            <div *ngIf="parentData.mobile">
                <label>Mobile: </label>
                <p>{{parentData.mobile}}</p>
            </div>
            <div *ngIf="parentData.landline">
                <label>Landline: </label>
                <p>{{parentData.landline}}</p>
            </div>
        </div>
        <div class="info-field" *ngIf="parentData.website">
            <label>Website: </label>
            <p>{{parentData.website}}</p>
        </div>
        <div class="info-field address-field" *ngIf="parentData.address">
            <label>Address: </label>
            <p>{{parentData.address}}</p>
        </div>
    </div>
    <div class="options">
        <div id="edit" (click)="onEdit(parentData)">
            <img src="../../../assets/images/edit1.jpg">
            EDIT
        </div>
        <div id="delete" (click)="onDelete(parentData.e_Id)">
            <img src="../../../assets/images/delete1.png">
            DELETE
        </div>
    </div>
</div>
