.form-fields{
    padding: 0.5em 1em;
    background-color: white;
    width: 600px;
    margin-left: 2em;
    /* margin-inline: auto; */
}

.form-field label{
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
}

.form-field + .form-field{
    margin-top: 1em;
}

.tel-fields{
    display: flex;
    gap: 1em;
    width: 100%;
}

.tel-field{
    width: 100%;
}

input{
    width: 100%;
}

#address{
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

#add{
    background-color: rgb(107, 172, 10);
    border-color: rgb(107, 172, 10);
    border-radius: 0.25em;
}

#reset{
    background-color: rgb(187, 63, 14);
    border-color: rgb(187, 63, 14);
    border-radius: 0.25em;
}

.alert{
    color: red;
}

.is-invalid{
    border: 1px solid salmon;
}

small{
    color: red;
}

.error-message{
    display: none;
}